%nav#sidebar
  - if user_signed_in?
    .option-menu-user
      = link_to edit_user_registration_path do
        %h3 Usuario
    %ul.list-unstyled.components
      - menu = [["Redes Sociales", socials_path], ["Posts", posts_path], ["Configuración", root_path]]
      = render partial: "shared/menu_option", locals: { options: menu }
      %li.option-menu
        = link_to "Cerrar Sesión", destroy_user_session_path, method: :delete
      %p ultimo post
  - else
    %ul.list-unstyled.components
      %li.option-menu  
        = link_to new_user_session_path, class: active_class(new_user_session_path) + " text-center" do
          %h3 Iniciar Sesion
      %li.option-menu
        = link_to new_user_registration_path, class: active_class(new_user_registration_path) + " text-center" do
          %h3 Registrarse
      - menu = [["Inicio", root_path], ["Contacto", home_contact_path]]
      = render partial: "shared/menu_option", locals: { options: menu } 
      %p Eslogan
#active-option.active
  = link_to "javascript:;", id: "sideMenu" do
    = fa_icon "angle-double-left 2x", id: "side-option-drop"
