.wrapp-login.text-center
  %h2 Iniciar Sesion
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-group
      = f.input :login, required: false, autofocus: true, input_html: { class: 'form-control',autmcomplete: "email" }
    .form-group
      = f.input :password, required: false, input_html: { class: 'form-control', autocomplete: "current-password" }
    .form-group  
      = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
    .form-actions
    = f.button :submit, "Iniciar Sesion"
