!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ProgrammerPost
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .wrapper
      = render partial: 'shared/menu'
      #content
        %nav.navbar.navbar-expand-lg.navbar-light.bg-light
          .container-fluid
            %button#sidebarCollapse.btn.btn-info{:type => "button"}
              %i.fas.fa-align-left
              %span Toggle Sidebar
        = yield
